<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    <h1>home page </h1>

    <a href="/register/student"> register as student</a>

<a href="/register/teacher"> register AS teacher</a>

<a href="/login/teacher">login as teacher</a>

</body>
</html>
