<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/student/marks" method="post">
    
    <div class="form-group">
                        <label for="name">enter student name</label>
                        <input type="text" class="form-control" name="name">
                    
                   </div>



                   <div class="form-group">
                        <label for="usn">enter student usn</label>
                        <input type="text" class="form-control" name="usn">
                    
                   </div>
    
    
    
    
    <div class="form-group">
                        <label for="subject1">enter marks of subject one</label>
                        <input type="text" class="form-control" name="subject1">
                    
                   </div>


                    <div class="form-group">
                        <label for="subject1">enter marks of subject two</label>
                        <input type="text" class="form-control" name="subject2">
                    
                   </div>



                    <div class="form-group">
                        <label for="subject1">enter marks of subject three</label>
                        <input type="text" class="form-control" name="subject3">
                    
                   </div>



                    <div class="form-group">
                        <label for="subject1">enter marks of subject four</label>
                        <input type="text" class="form-control" name="subject4">
                    
                   </div>

                    <div class="form-group">
                        <label for="subject1">enter marks of subject five</label>
                        <input type="text" class="form-control" name="subject5">
                    
                   </div>


                    <div class="form-group">
                        <label for="subject1">enter marks of subject six</label>
                        <input type="text" class="form-control" name="subject6">
                    
                   </div>



                    <div class="form-group">
                        <label for="subject1">enter marks of lab one</label>
                        <input type="text" class="form-control" name="subject7">
                    
                   </div>



                    <div class="form-group">
                        <label for="subject1">enter marks of lab two</label>
                        <input type="text" class="form-control" name="subject8">
                    
                   </div>

 <button type="submit" class="btn btn-primary">Submit</button>
 </form>
</body>
</html>