<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div class="container">
        <h1>student registration</h1>
        
        <form action="http://localhost:3000/register/student" method="POST">
        <div class="form-group">
        <label for="name">NAME </label>
        <input type="text" class="form-control" name="name">
        </div>
        
        <div class="form-group">
        <label for="USN"> USN </label>
        <input type="text" class="form-control" name="USN">
        </div>

        <div class="form-group">
        <label for="year"> YEAR </label>
        <input type="text" class="form-control" name="year">
        </div>
        
        <div class="form-group">
            <label for="email"> email </label>
            <input type="text" class="form-control" name="email">
            </div>


            <div class="form-group">
                <label for="phone"> phone no </label>
                <input type="text" class="form-control" name="phone">
                </div>
            
        
            <div class="form-group">
                <label for="agrrigatepu2marks"> AGGRIGATE PU2 MARKS </label>
                <input type="text" class="form-control" name="agrrigatepu2marks">
                </div>


                <div class="form-group">
                    <label for="agrrigateSSLCmarks"> AGGRIGATE SSLC MARKS </label>
                    <input type="text" class="form-control" name="agrrigateSSLCmarks">
                </div>

                    <div class="form-group">
                        <label for="FathersName"> FATHER'S NAME </label>
                        <input type="text" class="form-control" name="FathersName">
                    
                   </div>


                   <div class="form-group">
                    <label for="ParentsPhoneNumber"> PARENTS PH.NO </label>
                    <input type="text" class="form-control" name="ParentsPhoneNumber">
                
               </div>


                {{!-- <div class="form-group">
                    <label for="password"> enter password</label>
                    <input type="text" class="form-control" name="password">
                
               </div>
        

        <div class="form-group">
                    <label for="confirmpassword"> confirm password</label>
                    <input type="text" class="form-control" name="confirmpassword">
                
               </div> --}}
        
        <button type="submit" class="btn btn-primary">Submit</button>
        
        </form>
        
        </div>








</body>
</html>